@model Entities.Programa.ProgramaLstModel
@{
    ViewBag.Title = "Index";
}


@if (Model.response.exito)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: 'Operación exitosa',
                text: '@Model.response.descripcion',
                icon:  '@Model.response.icon',
                timer: 3000,
                showConfirmButton: false
            });
        });
    </script>
}


<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="~/Content/css/styls_Index.css" />
</head>


<a class="btn btn-info" href="@Url.Action("Edicion","Programa",new { id=0})" style="width: 150px;">Crear Programa</a>
<br />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Programas
    </div>
    <div class="card-body container mt-5">

        <table id="datatablesSimple" class="table-secondary">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Facultad</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Lineas De Trabajo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Resoluciòn</th>
                    <th scope="col">Archivo Res.</th>
                    <th scope="col">Logo</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.registros)
                {
                    <tr>
                        <td>@item.Codigo</td>
                        <td>@item.Nombre</td>
                        <td>@item.IdFacultad</td>
                        <td>@item.Correo</td>
                        <td>@item.Descripcion</td>
                        <td>@item.LineasTrabajo</td>
                        <td>@item.Fecha</td>
                        <td>@item.NumeroRes</td>
                        <td><a class="btn btn-info" href="@Url.Content(item.ArchivoRes)" target="_blank"><i class="fas fa-eye"></i></a></td>
                        <td><img src="@Url.Content(item.Logo)" alt="Logo" style="width: 100px; height: auto;" /></td>
                        <td>@item.EsActivo</td>
                        <td>
                            <a class="btn btn-warning" href="@Url.Action("Edicion","Programa",new { @item.Id})"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" href="@Url.Action("Eliminar","Programa",new { @item.Id})"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



