@model List<Entities.Programa.ProgramaModel>
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-primary" href="@Url.Action("Edicion","Programa",new { id=0})">Crear Programa</a>
<br />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Programas
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Facultad</th>
                    <th>Pregrado</th>
                    <th>Postgrado</th>
                    <th>Activo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Codigo</td>
                        <td>@item.Nombre</td>
                        <td>INGENIERIA</td>
                        <td>@item.EsPregrado</td>
                        <td>@item.EsPostgrado</td>
                        <td>@item.EsActivo</td>
                        <td><i class="fas fa-edit"></i><i class="fas fa-crash"></i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



