@model List<Entities.Cohorte.CohorteModel>

@{
    ViewBag.Title = "Listado de Cohortes";
}
<a class="btn btn-primary" href="@Url.Action("Edicion","Cohorte",new { id=0})">Crear Cohorte</a>
<br />
<br />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Listado de Cohortes
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Resolución</th>
                    <th>Fecha de Finalización</th>
                    <th>Número de Estudiantes</th>
                    <th>Activa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.FechaResolucion</td>
                        <td>@item.FechaFinalizacion</td>
                        <td>@item.NumeroEstudiantes</td>
                        <td>@item.EsActiva</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

